@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: 14 37 23;
    --color-secondary: 0 0 0;
  }
}

body {
    color: rgb(14 37 23);
    background: #fdfbf1;
    font: 18px/1.3 Matter,Helvetica Neue,Arial,Helvetica,sans-serif;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

section {
  background: #fdfbf1;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

section h2 {
  font-size: 40px;
  font-weight: 700;
}

.h,.h1,.h2,.h3,.h4,.h5,.h6,.quote blockquote,h1,h2,h3,h4,h5,h6 {
    font-family: Chromatic,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
    margin: 0 0 .5em;
    color: inherit
}

.h2,h2 {
  letter-spacing: -0.75px;
}


.arrow-down {
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down img {
  filter: brightness(0) invert(1);
  animation: shake 0.8s linear infinite; 
}

@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-2px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}


.transparent-bg{
  background-color: rgba(0,0,0,0.5)
}
header {
  transition: background-color 0.4s;
}
